%p
  #{@hotel.title} | Average rating: #{@hotel.rating}
%p
  = image_tag @hotel.image_url(:thumb).to_s
%p  
  Breakfast #{@hotel.breakfast_included ? "is" : "is not"} included
%p
  Room description: #{@hotel.room_description}
%p
  Price for room: #{@hotel.price}

-if !grade_by_user_exists?
  .col-md-6
    .panel.panel-primary
      .panel-heading Leave your feedback
      .panel-body
        = simple_form_for @grade do |f|
          = render 'shared/error_messages', object: f.object
          = f.input :value, collection: 1..5, as: :radio_buttons, label: 'Your rating here'
          = f.simple_fields_for :comment do |c|
            = c.input :content, as: :text, label: 'Comment'
            = c.input :user_id, as: :hidden, input_html: { value: current_user.id }
            = c.input :hotel_id, as: :hidden, input_html: { value: @hotel.id }
          = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
          = f.input :hotel_id, as: :hidden, input_html: { value: @hotel.id }
          = f.submit 'Submit!'

- if @hotel.comments.any?
  %h4
    Comments
    %span.badge #{@hotel.comments.count}
    %h5.col-md-6
      %ul.list-group= render @hotel.comments