/ Static navbar
.navbar.navbar-default{role: "navigation"}
  .container-fluid
    .navbar-header
      = link_to "HotelAdvisor", root_path, class: "navbar-brand"
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          = link_to "All hotels", "#"
        %li
          = link_to "Link", "#"
        %li
          = link_to "Link", "#"
      %ul.nav.navbar-nav.navbar-right
        %li
          -if user_signed_in?
            %li
              = link_to "Signed in as #{current_user.email}", "#"
            %li
              = link_to "Sign out", destroy_user_session_path, :method => :delete
          -else
            = link_to "Sign in", new_user_session_path
    / /.nav-collapse
  / /.container-fluid